<!doctype html>
<html>
<head>
	<title><Math></title>
</head>
<body>
	<h1>Add Below</h1>
	<form action="/add" method="post">
		<input type="number" name="add1" placeholder="num1"> 
		<input type="number" name="add2" placeholder="num2">
		<button type="submit">Submit</button>
	</form>
	<br>
	<h1>Subtract Below</h1>
<form action="/subtract" method="post">
		<input type="number" name="sub1" placeholder="num1"> 
		<input type="number" name="sub2" placeholder="num2">
		<button type="submit">Submit</button>
	</form>
	<br>
	<h1>Multiply Below</h1> 
<form action="/multiply" method="post">
		<input type="number" name="mul1" placeholder="num1"> 
		<input type="number" name="mul2" placeholder="num2">
		<button type="submit">Submit</button>
	</form>
	<br>
	<h1>Divide Below</h1> 
<form action="/divide" method="post">
		<input type="number" name="div1" placeholder="num1"> 
		<input type="number" name="div2" placeholder="num2">
		<button type="submit">Submit</button>
	</form>


</body>
</html>